<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="/index.css">
        <meta charset="UTF-8">
        <title>TODO-LIST</title>
    </head>
    <body>
        <header>            
            <h1>Tarefas</h1>
        </header>
        <h2>Nova Tarefa</h2>
        <form action="/create" method="POST">
            <input type="text" name="description" required>
            <button type="submit">Criar tarefa</button>
        </form>

        <h2>Tarefas</h2>
        <ul>
            {% for task in tasks %}
                <li>
                    <form action="/update/{{ task.id }}" method="POST">
                        <input type="text" name="description" value="{{ task.description }}">
                        <button type="submit">Atualizar</button>
                    </form>
                    <form action="/delete/{{ task.id }}" method="POST">
                        <button type="submit">Deletar Tarefa</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>